* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-primary: 'Poppins', sans-serif;
    --text-color: #303030;

    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%);
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: rgb(226, 232, 232);
}

body * {
    font-family: var(--ff-primary);
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

#app {
    max-width: 500px;
    padding: 2rem;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    height: 3.2rem;
    border: 1px solid #ccc;
    border-radius: .4rem 0 0 .4rem;
    padding: 0 .8rem;
}

.search button {
    height: 3.2rem;
    background-color: var(--primary-color);
    border-radius: 0 .6rem .6rem 0;
    border: none;
    padding: 0 1.2rem;

    cursor: pointer;
}

.search button:hover {
    filter: brightness(1.05);
}


table {
    width: 100%;
}

table * {
    font-size: 1.4rem;
    color: var(--text-color);
}

table th {

}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
}